# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/
.nyc_output/

# Production
dist/
build/
.next/

# Misc
.DS_Store
*.pem
.env
.env.local
.env.*.local

# Editor
.vscode/
.idea/
*.swp
*.swo

# OS
Thumbs.db

# Logs
logs/
*.log
npm-debug.log*
